.post {
    /* width: 400px; */
    /* height: 400px; */
    background-color: aquamarine;
}

.NavBar {
    background-color: blue;
    /* width: 600px; */
    /* height: 50px; */
}

.search {
    /* background-color: yellow; */
}

.NavBarButtons {
    background-color: brown;
}

.NewsFeed {
    background-color: limegreen;
}

.PostContainer {
    background-color: aqua;
}

